{%extends "doc_tasks_layout.html"%}
{%block content%}
<div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{url_for('doctors.admin')}}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Appointments</li>
          </ol>
            {%with messages= get_flashed_messages(with_categories=true)%}
        {%if messages%}
        {%for category,message in messages%}
        <div class="alert alert-{{category}} alert-dismissible fade show",role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span
          </button>
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
          <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Appointments</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Complete</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Complete</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {%for doctor_appointment in doctor_appointments%}
                      <tr>
                        <td>{{doctor_appointment.id}}</td>
                      <td>{{doctor_appointment.date_of_booking.strftime('%Y-%m-%d')}}</td>
                      <td>{{doctor_appointment.fullname}}</td>
                      <td>+254{{doctor_appointment.phone}}</td>
                      <td>{{doctor_appointment.email}}</td>
                      <td>
                        {% if doctor_appointment.complete == "True"%}
                        <span class="text-success">Complete</span>
                        {%else%}
                        <a href="{{url_for('doctors.complete',appointment_id=doctor_appointment.id)}}" class="btn btn-outline-success">Done!</a></td>
                        {%endif%}
                    </tr>
                    {%endfor%}

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated at {{now.strftime('%X %p')}}</div>
          </div>

        </div>

    </div>
{%endblock content%}
