<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>St.Francis Hospital Kahawa Sukari</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="st francis,hospital,kenya,kahawa,sukari,medicine,kahawa sukari,doctor,sick" name="keywords">
  <meta content="St francis is a hospital located in kahawa west.We offer varios medical services. Our team of doctors are always ontoes to ensure that any patient is accorded with world class treatment. " name="description">

  <!-- Favicons -->
  <link href="{{url_for('static',filename='img/logo.png')}}" rel="icon">
  <!-- Bootstrap CSS File -->
  <link href="{{url_for('static',filename='site/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{url_for('static',filename='site/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='site/nivo-slider/css/nivo-slider.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='site/owlcarousel/owl.carousel.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='site/owlcarousel/owl.transitions.css')}}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{{url_for('static',filename='site/animate/animate.min.css')}}" rel="stylesheet">

  <link href="{{url_for('static',filename='site/venobox/venobox.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/nivo-slider-theme.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/responsive.css')}}" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#navbar-example">

  <div id="preloader"></div>

  <header>
    <div id="sticker" class="header-area">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <nav class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
                <a class="navbar-brand page-scroll sticky-logo" href="{{url_for('doctors.home')}}">
                  <h1 class="brand"><img style="height: 50px !important;margin-top: -20px !important;" src="{{url_for('static',filename='img/logo.png')}}"><span>ST</span>.FRANCIS HOSPITAL</h1>
								</a>
              </div>
              <div class="collapse navbar-collapse main-menu bs-example-navbar-collapse-1" id="navbar-example">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active">
                    <a class="page-scroll" href="#home">Home</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#services">Services</a>
                  </li>
                  <li>
                    <a class=" " href="{{url_for('doctors.about')}}">About</a>
                  </li>

                  <li>
                    <a class="page-scroll" href="{{url_for('appointments.book')}}">Book Appointment</a>
                  </li>
                  <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                  </li>
                  {%if current_user.is_authenticated%}
        {%if current_user.user_role=="Adminstrator"%}
        <li>
                    <a class="page-scroll" href="{{url_for('doctors.admin')}}">My Page</a>
                  </li>
        {%else%}
        <li>
            <a class="page-scroll" href="{{url_for('doctors.doc_client')}}">My Page</a>
              </li>
        {%endif%}
        {%else%}
        {%endif%}
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="home" class="slider-area">
    <div class="bend niceties preview-2">
      <div id="ensign-nivoslider" class="slides">
        <img src="{{url_for('static',filename='img/slider/slider3.jpg')}}" alt="" title="#slider-direction-1" />
        <img src="{{url_for('static',filename='img/slider/slider2.jpg')}}" alt="" title="#slider-direction-2" />
        <img src="{{url_for('static',filename='img/slider/slider1.jpg')}}" alt="" title="#slider-direction-3" />
      </div>
      <div id="slider-direction-1" class="slider-direction slider-one">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">St Francis Hospital Kahawa Sukari </h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">We offer you <span class="title2">world class</span> treatment</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="#services">Our Services</a>
                  <a class="ready-btn page-scroll" href="{{url_for('appointments.book')}}">Book appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- direction 2 -->
      <div id="slider-direction-2" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">St Francis Hospital Kahawa Sukari </h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">We offer you <span class="title2">world class</span> treatment</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="#services">Our Services</a>
                  <a class="ready-btn page-scroll" href="#about">Book appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- direction 3 -->
      <div id="slider-direction-3" class="slider-direction slider-two">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="slider-content">
                <!-- layer 1 -->
                <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s">
                  <h2 class="title1">St Francis Hospital Kahawa Sukari </h2>
                </div>
                <!-- layer 2 -->
                <div class="layer-1-2 wow slideInUp" data-wow-duration="2s" data-wow-delay=".1s">
                  <h1 class="title2">We offer you <span class="title2">world class</span> treatment</h1>
                </div>
                <!-- layer 3 -->
                <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                  <a class="ready-btn right-btn page-scroll" href="#services">Our Services</a>
                  <a class="ready-btn page-scroll" href="#about">Book appointment</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Slider Area -->

  <!-- Start Service area -->
  <div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-procedures"></i>
										</a>
                  <h4>In patient services</h4>
                  <p>
                    We offer in-patient services. <br> This service can be covered by NHIF.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-wheelchair"></i>
										</a>
                  <h4>Out patient services</h4>
                  <p>
                    We offer out-patient services. <br>This service can be covered by NHIF.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-plus-square"></i>
										</a>
                  <h4>Medical Imaging</h4>
                  <p>
                    We offer medical Imaging i.e <br> ultra sound services.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-stethoscope"></i>
										</a>
                  <h4>Mother and child health</h4>
                  <p>
                    We offer Atnenatal clinic.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                      <i class="fa fa-eye"></i>
                    </a>
                  <h4>Eye Services</h4>
                  <p>
                    We offer eye checkups <br> among other eye services.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                      <i class="fa fa-stethoscope"></i>
                    </a>
                  <h4>Ear,Nose and Throat(ENT) services</h4>
                  <p>
                    We ENT services in our hospital.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                      <i class="fa fa-tooth"></i>
                    </a>
                  <h4>Dental services</h4>
                  <p>
                    We offer dental services <br> in our hospital.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-h-square"></i>
										</a>
                  <h4>Dermartology</h4>
                  <p>
                    We have dermatologists who will <br> take care of all you skin issues.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <!-- End Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.5s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
											<i class="fa fa-briefcase-medical"></i>
										</a>
                  <h4>Paediatries</h4>
                  <p>
                    We have paediatritians who will <br> take care of your child's needs.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                      <i class="fa fa-ambulance"></i>
                    </a>
                  <h4>Orthopaedic</h4>
                  <p>
                    We offer orthopaedic services in our hospital.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                      <i class="fa fa-capsules"></i>
                    </a>
                  <h4>Diabetes</h4>
                  <p>
                    For diabetes we have our doctors in place to cater for your needs.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                      <i class="fa fa-thermometer"></i>
                    </a>
                  <h4>Lab services</h4>
                  <p>
                    We offer lab services. Services are accorded with cutting edge accuracy and confidenciality. Visit our hospital and experience a world class treatment.
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wellcome-area">
    <div class="well-bg">
      <div class="test-overly"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="wellcome-text">
              <div class="well-text text-center">
                <h2>Subscribe</h2>
                <p>
                  Subscribe to get news and events notifications.
                </p>
                <div class="subs-feilds">
                  <div class="suscribe-input">
                    <form action="" method="POST">
                      {{form.hidden_tag()}}
                {%if form.email.errors%}
                {{form.email(class="email form-control width-80 is-invalid",id="sus_email")}}
                <div class="invalid-feedback">
                  {%for error in form.email.errors%}
                  <span>{{error}}</span>
                  {%endfor%}
                </div>
                {%else%}
                {{form.email(class="email form-control width-80",id="sus_email",placeholder="Email")}}
                {%endif%}
                <button type="submit" id="sus_submit" class="add-btn width-20">Subscribe</button>
                    </form>

                    <div id="msg_Submit" class="h3 text-center hidden"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="faq-area area-padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>FAQ</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="faq-details">
            <div class="panel-group" id="accordion">
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title">
											<a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
                      <span class="acc-icons"></span>How to apply and where to be registered under st.Francis NHIF program.
											</a>
										</h4>
                </div>
                <div id="check1" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <p>
                      Go to NHIF accredited opd <br>
                      Ruaraka branch KCA building 1<sup>st</sup> floor. <br>
                      or <br>
                      Ruiru branch <br>
                      code 22202130 <br>
                      st francis health services kahawa sukari.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#check2">
                                                <span class="acc-icons"></span>Are we NHIF credited?
											</a>
										</h4>
                </div>
                <div id="check2" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      YES. We are NHIF credited.
                    </p>
                  </div>
                </div>
              </div>



              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#check3">
                        <span class="acc-icons"></span>Are we open 24hrs?

											</a>
										</h4>
                </div>
                <div id="check3" class="panel-collapse collapse ">
                  <div class="panel-body">
                    <p>
                      YES. We have a team in place to ensure you are served at any time of the day.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
              <!-- Panel Default -->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="check-title">
											<a data-toggle="collapse" data-parent="#accordion" href="#check4">
                                                <span class="acc-icons"></span>Are we a private facility?
											</a>
										</h4>
                </div>
                <div id="check4" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>
                      YES, We are a private facility.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Panel Default -->
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="tab-menu">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li class="active">
                <a href="#p-view-1" role="tab" data-toggle="tab">Outreach</a>
              </li>
              <li>
                <a href="#p-view-2" role="tab" data-toggle="tab">Events</a>
              </li>
              <li>
                <a href="#p-view-3" role="tab" data-toggle="tab">Free checkups</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane active" id="p-view-1">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Outreach</h4>
                  <p>
                    We are a hospital that believe in giving back to the community. We have spacial outreach programs to ensure that we give you as a community free services on selected days.
                  </p>
                  <p>
                   This is acheived through Free medical checkup events for example, Eye checkup and many other events.
                  </p>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-2">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Events</h4>
                  <p>
                    We oftenly schedule Events, for example Free medical check-up events which help us reach our community at large.
                  </p>

                </div>
              </div>
            </div>
            <div class="tab-pane" id="p-view-3">
              <div class="tab-inner">
                <div class="event-content head-team">
                  <h4>Free checkups</h4>
                  <p>
                    We oftenly have Free checkup events from our trained doctors and the checkups at times come with being offered free medicine depending on the disease  you are diagnosed with.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end Row -->
    </div>
  </div>
    <div id="contact" class="contact-area bg-grey">
    <div class="contact-inner area-padding">
      <div class="contact-overly"></div>
      <div class="container ">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Contact us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-mobile"></i>
                <p>
                  Call: +2547 23 847 759<br>
                  <span>All Week (24hrs)</span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-envelope"></i>
                <p>
                  Email: <a class="linka" href="mailto:stfrancishealthsvsksukari@gmail.com" target="_blank">stfrancishealthsvsksukari@gmail.com</a><br>
                  <span>Web: <a class="linka" href="http://stfrancishospitalksukari.co.ke">stfrancishospitalksukari.co.ke</a></span>
                </p>
              </div>
            </div>
          </div>
          <!-- Start contact icon column -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="contact-icon text-center">
              <div class="single-icon">
                <i class="fa fa-map-marker-alt"></i>
                <p>
                  Location: Kahawa sukari ave<br>
                  <span>Right turn towards baringo road</span>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End Contact Area -->

  <!-- Start Footer bottom Area -->
  <footer>
    <div class="footer-area bg-secondary">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <div class="footer-logo">
                  <h2>St francis hospital</h2>
                </div>

                <p>You can reach us through the social media Links below and you will be reached out by out technical team</p>
                <div class="footer-icons">
                  <ul>
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-google"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-pinterest"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Official Contacts</h4>
                <p>
                  Help us improve our services by giving back your feedback through contacts below.
                </p>
                <div class="footer-contacts">
                  <p><span>Tel:</span> +2547 23 847 759 </p>
                  <p><span>Email:</span> <a class="linka" href="mailto:stfrancishealthsvsksukari@gmail.com" target="_blank">stfrancishealthsvsksukari@gmail.com</a></p>
                  <p><span>Working Hours:</span> All Week (24hrs)</p>
                </div>
              </div>
            </div>
          </div>
          <!-- end single footer -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Location</h4>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.9557679307727!2d36.9295620149585!3d-1.1914110991309774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3fa285d05729%3A0x887cd077c3ff80c2!2sSt.+Francis+Health+Services!5e0!3m2!1sen!2ske!4v1549375631199" width="100%" height="180" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-area-bottom bg-black">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <span class="copyright"></span> <strong>St francis hospital kahawa sukari</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{{url_for('static',filename='site/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='site/bootstrap/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='site/owlcarousel/owl.carousel.min.js')}}"></script>
  <script src="{{url_for('static',filename='site/venobox/venobox.min.js')}}"></script>
  <script src="{{url_for('static',filename='site/knob/jquery.knob.js')}}"></script>
  <script src="{{url_for('static',filename='site/wow/wow.min.js')}}"></script>
  <script src="{{url_for('static',filename='site/parallax/parallax.js')}}"></script>
  <script src="{{url_for('static',filename='site/easing/easing.min.js')}}"></script>
  <script src="{{url_for('static',filename='site/nivo-slider/js/jquery.nivo.slider.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='site/appear/jquery.appear.js')}}"></script>
  <script src="{{url_for('static',filename='site/isotope/isotope.pkgd.min.js')}}"></script>

  <script src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>
