<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="doctors,hispital,clinic">
  <meta name="author" content="Doctors">

  <title>St.Francis Hospital Kahawa Sukari</title>

  <!-- Bootstrap4 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href=" {{ url_for('static', filename='site/fontawesome-free/css/all.css')}}" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link href="{{ url_for('static', filename='site/magnific-popup/magnific-popup.css')}}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/creative.css')}}" rel="stylesheet">

</head>
<body id="page-top">

{%block content%}{%endblock content%}


    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='site/jquery/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='site/bootstrap/js/bootstrap.bundle.js')}}"></script>
    <script src="{{ url_for('static', filename='site/jquery-easing/jquery.easing.js')}}"></script>
    <script src="{{ url_for('static', filename='site/scrollreveal/scrollreveal.js')}}"></script>
    <script src="{{ url_for('static', filename='site/magnific-popup/jquery.magnific-popup.js')}}"></script>

    <!-- Custom scripts -->
    <script src="{{ url_for('static', filename='js/creative.js')}}"></script>
    <script type="text/javascript">
    </script>
  </body>

  </html>
