<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>St.Francis Hospital Kahawa Sukari</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href=" {{ url_for('static', filename='site/fontawesome-free/css/all.css')}}" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link href="{{ url_for('static', filename='site/datatables/dataTables.bootstrap4.css')}}" rel="stylesheet">
  </head>

  <body id="page-top" style="height: 100% !important; width:100%; ">
  <div class="container mt-5">
          <div class="card mb-3 mt-5">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Dr. {{doctor.fullname}}   <span class="text-info ml-5">Department:</span> {{doctor.department}}</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Phone</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for appointment in appointments%}
                      <tr>

                        <td>{{appointment.id}}</td>
                      <td>{{appointment.date_of_booking.strftime('%Y-%m-%d')}}</td>
                      <td>{{appointment.fullname}}</td>
                      <td>+254{{appointment.phone}}</td>
                      <td>{{appointment.email}}</td>

                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">printed {{now.strftime('%Y-%m-%d %X %p')}}</div>
          </div>

        </div>
        <div class="text-center">
          <a href="javascript:window.print()" class="btn btn-outline-info">Print</a>
          <a href="{{url_for('doctors.doctors_route')}}" class="btn btn-outline-success ml-5">Back</a>
        </div>
</body>

</html>

