{%extends "admin_layout.html"%}
{%block content%}
  <div class="container-fluid">

          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{{url_for('doctors.admin')}}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Weekly report</li>
          </ol>
            {%with messages= get_flashed_messages(with_categories=true)%}
        {%if messages%}
        {%for category,message in messages%}
        <div class="alert alert-{{category}} alert-dismissible fade show",role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span
          </button>
        </div>
        {%endfor%}
        {%endif%}
        {%endwith%}
           <!-- DataTables Example -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Reports</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Week</th>
                      <th>Date</th>
                      <th>Print</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Week</th>
                      <th>Date</th>
                      <th>Print</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {%for week in range(1,today_week)%}
                      <tr>
                      <td>{{week}}</td>
                      <td>{{week}}</td>
                      <td><a href="{{url_for('doctors.print_week',week_id=week)}}" class="btn btn-info mr-0">Print</a></td>
                    </tr>
                    {%endfor%}

                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>

        </div>
{%endblock content%}
